<div class="bg-base-200 py-5 flex items-center">
  <div class="form-control mx-3">
    <label class="label">
      <input type="checkbox" class="checkbox mr-3" disabled checked />
      <span class="label-text text-xl text-zinc-400 line-through">
        <%= wish.title %>
      </span>
    </label>
  </div>
</div>