<div class="bg-base-300 rounded-box py-5 my-3 flex items-center">
  <div class="form-control mx-3">
      <label class="label">
        <input type="checkbox" class="checkbox mr-3" disabled />
        <span class="label-text text-xl">
          <%= wish.title %>
        </span>
      </label>
    </div>
</div>