<div class="flex justify-between items-center basis-11/12" id= <%= "wish_#{wish.id}" %>>
  <div class="form-control basis-5/6">
    <%= link_to check_path(wish), data: { turbo_stream: true, turbo_method: :post } do %>
      <label class="label cursor-pointer justify-normal">
        <%# チェックボックス %>
        <input type="checkbox" class="checkbox checkbox-accent mr-3" />
        <%# タイトル %>
        <span class="label-text text-xl">
          <%= wish.title %>
        </span>
      </label>
    <% end %>
  </div>
  <!-- 作成日 -->
  <div class="ml-3">作成日：<%= l wish.created_at %></div>
</div>