<!-- 自分が作成した Wish なら編集ページへのリンク -->
<% if current_user.my_wish?(wish) %>
  <div class="bg-base-300 rounded-box py-5 my-3 flex items-center">
    <div class="mx-3">
      <%= wish.title %>
    </div>
    <%= link_to edit_wish_path(wish) do %>
      <i class="fa-solid fa-pen-to-square text-2xl mx-1"></i>
    <% end %>
    <%= link_to wish_path(wish), data: { turbo_method: :delete, turbo_confirm: 'この Wish を削除しますか？' } do %>
      <i class="fa-solid fa-eraser text-2xl mx-1"></i>
    <% end %>
  </div>
<!-- 他のユーザーが作成した Wish なら表示のみ -->
<% else %>
  <div class="bg-base-300 rounded-box py-5 my-3">
    <div class="px-5">
      <%= wish.title %>
    </div>
  </div>
<% end %>