<% content_for :head do %>
  <title>WishWay｜パスワードリセット申請</title>
<% end %>

<div class="w-5/6 mx-auto max-w-screen-xl">
  <div class="my-10">
    <h1 class="text-xl md:text-4xl font-bold mb-10 pb-4 border-b-4 border-dashed border-stone-400 text-center">
      パスワードリセット申請フォーム
    </h1>
    <%= form_with url: password_resets_path, method: :post do |form| %>
      <%= form.label :email, 'メールアドレス', class: "label mb-3 w-full md:w-1/2 mx-auto" %>
      <%= form.text_field :email, class: "input input-bordered form-control mb-6 w-full md:w-1/2 mx-auto" %>
      <div class="w-1/2 mx-auto flex justify-center text-center">
        <%= form.submit "メールを送信する", class: "btn mt-1" %>
      </div>
    <% end %>
  </div>
</div>