<div class="my-10" id='edit'>
  <%= form_with model: wish_list, class: "flex w-full", id: "edit" do |form| %>
    <%= form.text_field :title, class: "input input-bordered border-2 form-control text-xs md:text-xl grow-0 md:grow mr-3" %>
    <%= form.submit '更新', class: "btn btn-accent text-base" %>
  <% end %>
</div>