<div class="flex items-center" id="toggle">
  <div class="tooltip" data-tip="公開する">
  <%= link_to unlock_path, data: { turbo_stream: true, turbo_method: :post } do %>
    <i class="fa-solid fa-lock text-2xl"></i>
  <% end %>
  </div>
</div>