<div class="flex items-center">
    <label class="mr-3 h-[29px]">非公開</label>
    <%= link_to lock_list_path, data: { turbo_method: :post } do %>
      <input type="checkbox" class="toggle" checked />
    <% end %>
    <label class="ml-3 h-[29px]">公開</label>
  </div>