<div class="flex items-center" id="toggle">
  <div class="tooltip" data-tip="非公開にする">
  <%= link_to lock_path, data: { turbo_stream: true, turbo_method: :post } do %>
    <i class="fa-solid fa-lock-open text-2xl"></i>
  <% end %>
  </div>
</div>