<div class="outline-double outline-2 outline-base-300">
<%= link_to wish_list_path(wish_list.user.id) do %>
  <div class="card bg-base-200 shadow-xl mb-3 h-full rounded-none">
    <div class="card-body">
      <h2 class="card-title"><%= wish_list.title %></h2>
    </div>
  </div>
<% end %>
</div>