<% content_for :head do %>
  <title>WishWay｜リスト一覧</title>
<% end %>
<div class="w-5/6 mx-auto max-w-screen-xl">
  <h1 class="text-4xl md:text-5xl font-bold mb-10 pb-4 border-b-4 border-dashed border-accent text-center">
    みんなのバケットリスト
  </h1>

<%= render 'shared/search_form' %>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-4">
    <%= render(@wish_lists) %>
  </div>
</div>