<div class="w-5/6 mx-auto max-w-screen-xl">
  <h1 class="text-5xl font-bold mb-10 pb-4 border-b-4 border-dashed border-dot text-center">
    みんなのバケットリスト
  </h1>

  <div class="grid grid-cols-3 gap-4">
    <%= render(@wish_lists) %>
  </div>
</div>