<div class="w-5/6 mx-auto max-w-screen-xl">
  <div class="flex justify-between items-center">
    <!-- タイトル -->
    <h1 class="mt-5 mb-10">
      <%= @wish_list.title %>
    </h1>

    <!-- ログインユーザーのリストにのみ公開設定トグルボタンを表示 -->
    <% if logged_in? && current_user.my_list?(@wish_list) %>
      <%= render 'toggle', wish_list: @wish_list %>
    <% end %>
  </div>

  <!-- Wish 一覧を表示 -->
  <div class="divide-y-2 divide-base-100 divide-dashed">
    <%= render(partial: 'wishes/wish', collection: @wishes) || "Wish がありません" %>
  </div>
  <!-- ログインユーザーのリストにのみ新規作成ボタンを表示 -->
  <% if logged_in? && current_user.my_list?(@wish_list) %>
    <button class="btn btn-secondary mt-3">
      <%= link_to '新規作成', new_wish_path %>
    </button>
  <% end %>
</div>