<p><%= @user.name %>様</p>
<p>==============================================</p>
<p>パスワード再発行のご依頼を受け付けました。</p>
<p>以下のリンクからパスワードの再発行を行なってください</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
<br>
<p>※このメールはお知らせ専用のアドレスより配信しております。</p>
<p>このメールに直接返信してのお問い合わせにはご対応いたしかねますのでご了承ください。</p>