<% content_for :head do %>
  <title>WishWay｜お問い合わせフォーム</title>
<% end %>

<div class="mx-auto flex justify-center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdhICUb3ywQn8kmKTKqhF1HZA-tLYWSBqYYPdSv7zdirIBuUg/viewform?embedded=true" width="640" height="1025" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>