<% content_for :head do %>
  <title>WishWay｜プライバシーポリシー</title>
<% end %>

<div class="w-5/6 mx-auto max-w-screen-xl my-5">
  <div class="my-10">
    <h1 class="text-4xl md:text-5xl font-bold mb-10 pb-4 border-b-4 border-dashed border-stone-400 text-center">
      プライバシーポリシー
    </h1>
    <div class="bg-base-200 card p-6 lg:p-8 gap-2">
      <div class="mb-3 md:mb-5">
        <h2 class="text-xl md:text-2xl mb-1">お客様から取得する情報</h2>
        <p class="pl-2 md:pl-4 md:text-lg">当社は、お客様から以下の情報を取得します。</p>
        <ul class="list-disc pl-12 md:pl-16 mt-3 text-sm md:text-base">
          <li>氏名(ニックネームやペンネームも含む)</li>
          <li>メールアドレス</li>
          <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
          <li>Cookie(クッキー)を用いて生成された識別情報</li>
          <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
          <li>当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴</li>
          <li>当社アプリの起動時間、入力履歴、購買履歴等の当社アプリの利用履歴</li>
        </ul>
      </div>
      <div class="mb-3 md:mb-5">
        <h2 class="text-xl md:text-2xl mb-1">お客様の情報を利用する目的</h2>
        <p class="pl-2 md:pl-4 md:text-lg">当社は、お客様から以下の情報を取得します。</p>
        <ul class="list-disc pl-12 md:pl-16 mt-3 text-sm md:text-base">
          <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
          <li>お客様の当社サービスの利用履歴を管理するため</li>
          <li>当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</li>
          <li>当社のサービスに関するご案内をするため</li>
          <li>お客様からのお問い合わせに対応するため</li>
          <li>当社の規約や法令に違反する行為に対応するため</li>
          <li>当社サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
          <li>当社規約の変更等を通知するため</li>
          <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
        </ul>
      </div>
      <div class="mb-3 md:mb-5">
        <h2 class="text-xl md:text-2xl mb-1">安全管理のために講じた措置</h2>
        <p class="pl-2 md:pl-4 md:text-lg">当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
      </div>
      <div class="mb-3 md:mb-5">
        <h2 class="text-xl md:text-2xl mb-1">第三者提供</h2>
        <p class="pl-2 md:pl-4 md:text-lg">当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
        <p class="pl-2 md:pl-4 md:text-lg">但し、次の場合は除きます。</p>
        <ul class="list-disc pl-12 md:pl-16 mt-3 text-sm md:text-base">
          <li>個人データの取扱いを外部に委託する場合</li>
          <li>当社や当社サービスが買収された場合</li>
          <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
          <li>その他、法律によって合法的に第三者提供が許されている場合</li>
        </ul>
      </div>
      <div class="mb-3 md:mb-5">
        <h2 class="text-xl md:text-2xl mb-1">アクセス解析ツール</h2>
        <p class="pl-2 md:pl-4 md:text-lg">当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは<%= link_to 'こちら', 'https://marketingplatform.google.com/about/analytics/terms/jp/', class: "link link-accent" %>からご確認ください。</p>
      </div>
      <div class="mb-3 md:mb-5">
        <h2 class="text-xl md:text-2xl mb-1">プライバシーポリシーの変更</h2>
        <p class="pl-2 md:pl-4 md:text-lg">当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
      </div>
      <div class="mb-3 md:mb-5">
        <h2 class="text-xl md:text-2xl mb-1">お問い合わせ</h2>
        <p class="pl-2 md:pl-4 md:text-lg">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、<%= link_to "お問い合わせフォーム" , inquiry_form_path, class: "link link-accent" %>よりご連絡ください。</p>
      </div>
    </div>
</div>