<h1>Staticpages#top</h1>
<p class="font-kiwimaru">Find me in app/views/staticpages/top.html.erb</p>
<p class="font-kiwimaru">プレミアリーグを現地で見る！</p>

<button class="font-kiwimaru btn btn-neutral">Button</button>