<div class="navbar bg-base-200">
  <div class="flex-1">
    <div class="btn btn-ghost text-xl">
      <%= link_to 'WishWay', root_path %>
    </div>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '一覧ページ', wish_lists_path %></li>
      <li><%= link_to '新規登録', new_user_path %></li>
      <li><%= link_to 'ログイン', login_path %></li>
    </ul>
  </div>
</div>