<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="font-kiwimaru btn btn-ghost text-xl">WishWay</a>
  </div>
  <div class="flex-none">
    <ul class="font-kiwimaru menu menu-horizontal px-1">
      <li><a>一覧ページ</a></li>
      <li><a>新規登録</a></li>
      <li><a>ログイン</a></li>
    </ul>
  </div>
</div>