<%# バリデーションエラーメッセージ表示 %>
<% if object.errors.any? %>
  <div role="alert" class="alert bg-primary mb-2" id="alert">
    <ul>
      <% object.errors.each do |error| %>
        <li class="text-sm md:text-base"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>