<footer class="footer items-center p-4 bg-neutral text-neutral-content mt-auto justify-center">
  <aside class="items-center grid-flow-col">
    <p>Copyright © 2024 WishWay - All right reserved</p>
  </aside>
</footer>