<footer class="p-4 pt-3 bg-neutral text-neutral-content">
  <aside class="text-xs text-center">
    <div class="flex md:text-base gap-2 md:gap-10 justify-around md:justify-center mb-3 md:mb-5">
      <%= link_to 'プライバシーポリシー', '#' %>
      <%= link_to '利用規約', '#' %>
      <%= link_to 'お問い合わせフォーム', '#' %>
    </div>
    <p>Copyright © 2024 WishWay - All right reserved</p>
  </aside>
</footer>