<div class="navbar bg-base-200 pr-0 md:pr-2 max-w-screen">
  <div class="flex-1">
    <div class="btn btn-ghost text-sm md:text-xl">
      <%= link_to 'WishWay', root_path %>
    </div>
  </div>
  <div class="flex-none w-2/3 ml-auto">
    <ul class="menu menu-horizontal text-xs md:text-base md:px-1 ml-auto">
      <li>
        <%= link_to '一覧ページ', wish_lists_path, class: "px-1 md:px-3" %>
      </li>
      <li>
        <%= link_to "#{current_user.name}'s リスト", wish_list_path(current_user.id), class: "px-1 md:px-3" %>
      </li>
      <li>
        <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: "px-1 md:px-3" %>
      </li>
    </ul>
  </div>
</div>