<div class="navbar bg-base-200 mb-1">
  <div class="flex-1">
    <div class="font-kiwimaru btn btn-ghost text-xl">
      <%= link_to 'WishWay', root_path %>
    </div>
  </div>
  <div class="flex-none">
    <ul class="font-kiwimaru menu menu-horizontal px-1">
      <li><%= link_to '一覧ページ', wish_lists_path %></li>
      <li>
        <details>
          <summary>
            ユーザーネーム
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none z-10">
            <li>
              <%= link_to 'マイリスト', wish_list_path(current_user.id) %>
            </li>
            <li><a>アカウント設定</a></li>
            <li>
              <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>