<%= search_form_for @q, class: "mb-4 flex" do |form| %>
  <div data-controller="autocomplete" data-autocomplete-url-value="/wish_lists/search" role="combobox" class="grow-0 md:grow mr-2">
    <%= form.search_field :title_cont, data: { autocomplete_target: 'input' }, placeholder: 'タイトルで検索', class: "input input-bordered form-control text-xs md:text-xl w-full" %>
    <ul class="list-group" data-autocomplete-target="results"></ul>
  </div>
  <%= form.submit class: "btn" %>
<% end %>