<%# X シェアリンク %>
<%= link_to "https://twitter.com/share?url=#{wish_list_url(@wish_list.user)}&text=#{@wish_list.title}を作成したよ！", :onclick=>"window.open(this.href,'hoge', 'height=480, width=640');return false;", rel: "noopener noreferrer", data: { toggle: "tooltip", placement: "bottom" }, id: 'X_share' do %>
  <button class="btn btn-outline mx-4">X でシェア</button>
<% end %>