<%# X シェアリンク %>
<div class="mx-4">
  <%= link_to "https://twitter.com/share?url=#{wish_lists_url}&text=#{wish_list.title}を作成したよ！", :onclick=>"window.open(this.href,'hoge', 'height=480, width=640');return false;", rel: "noopener noreferrer", data: { toggle: "tooltip", placement: "bottom" }, id: 'X_share' do %>
    <button class="btn btn-outline">X でシェア</button>
  <% end %>
</div>